<div class="row justify-content-md-center">
    <div class="col-xl-offset-4 col-xl-4 col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-offset-2 col-8">
        <form #f="ngForm" [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group" [ngClass]="{'has-error': username.invalid && f.submitted}">
                <label class="control-label">Username or e-mail address:</label>
                <input formControlName="username" type="text" class="form-control">

                <p *ngIf="username.errors?.required && f.submitted">Username is required</p>
            </div>

            <div class="form-group">
                <label class="control-label">Password:</label>
                <input formControlName="password" type="password" class="form-control">
            </div>

            <div class="checkbox">
                <label>
                    <input formControlName="rememberMe" type="checkbox">
                    Remember me
                </label>
            </div>

            <div *ngFor="let error of (state$ | async).loginError?.split('<br>')" class="alert alert-danger">
                {{error}}
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-3">
                        <a routerLink="/signup">Sign Up</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <a routerLink="/acquire-password-reset">Forgot password</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-2">
                        <button type="submit" class="btn btn-primary float-right" [disabled]="(state$ | async).inProgress">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>