<div class="row justify-content-md-center">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <form #f="ngForm" [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group" [ngClass]="{'has-error': password.invalid && f.submitted}">
                <label class="control-label">Enter new password:</label>
                <input formControlName="password" type="password" class="form-control">

                <p *ngIf="password.errors?.passwordValid && f.submitted">{{password.errors.passwordValid}}</p>
            </div>

            <div class="form-group" [ngClass]="{'has-error': password2.invalid && f.submitted}">
                <label class="control-label">Repeat new password:</label>
                <input formControlName="password2" type="password" class="form-control">

                <p *ngIf="password2.errors?.equals && f.submitted">Passwords do not match</p>
            </div>

            <div *ngFor="let error of (state$ | async).resetPasswordError?.split('<br>')" class="alert alert-danger">
                {{error}}
            </div>

            <div class="form-group">
                <a routerLink="/login">Login</a>
                <button type="submit" class="btn btn-primary float-right" [disabled]="(state$ | async).inProgress">Change password</button>
            </div>
        </form>
    </div>
</div>